<nav class="navbar navbar-dark bg-dark p-0 navbar-expand-lg navbar-static-top flex-md-nowrap sticky-top" *ngIf="currentUser">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">ALMAGESTO</a>
  
  <div class="text-right ml-auto" style="font-size: 1em; color: white;">{{currentUser.firstName}} {{currentUser.lastName}}</div>
  
  <ul class="navbar-nav px-0 text-right list-inline ml-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span style="font-size: 1.5em; color: white;">
          <i class="fas fa-user"></i>
        </span>          
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/profile">Perfil</a>
        <a class="dropdown-item" routerLink="/billing">Facturación</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Salir</a>
      </div>
    </li>
  </ul>

</nav>
