<div class="row">
  <div class="col-md-10 order-md-1">

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Cotizaciones</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="submit" class="btn btn-sm btn-outline-primary">Guardar</button>
              <button class="btn btn-sm btn-outline-secondary" (click)="cancelQuote()">Cancelar</button>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Nombre</label>
          <div><span *ngIf="!isEdit">{{quote.firstName}}</span></div>
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="quote.firstName" #fName #name="ngModel" required />
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">Por favor ingrese el nombre.</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Apellidos</label>
          <div><span *ngIf="!isEdit">{{quote.lastName}}</span></div>
          <input type="text" *ngIf="isEdit" [(ngModel)]="quote.lastName" class="form-control" id="lastName" name="lastName" placeholder="" value="" >
          <div class="invalid-feedback">
            Por favor ingrese los apellidos.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="customer">Cliente / Organizaci&oacute;n</label>
          <div><span *ngIf="!isEdit">{{quote.customerName}}</span></div>
          <input type="text" *ngIf="isEdit" [(ngModel)]="quote.customerName" class="form-control" id="customer" name="customer" placeholder="" value="" >
          <div class="invalid-feedback">
            Por favor ingrese un cliente.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="phone">Teléfono</label>
          <div><span *ngIf="!isEdit">{{quote.phone}}</span></div>
          <input type="text" *ngIf="isEdit" [(ngModel)]="quote.phone" class="form-control" id="phone" name="phone" placeholder="51 1 2568754" value="" >
          <div class="invalid-feedback">
            Por favor ingrese un teléfono válido.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="email">Correo Electr&oacute;nico <span class="text-muted">(Opcional)</span></label>
          <div><span *ngIf="!isEdit">{{quote.email}}</span></div>
          <input type="email" *ngIf="isEdit" [(ngModel)]="quote.email" class="form-control" id="email" name="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Por favor ingrese una dirección de correo electr&oacute;nico válida para alertas de envío.
          </div>
        </div>
      </div>

      <div class="mb-3">
      </div>

      <div class="mb-3">
        <label for="address">Direcci&oacute;n - linea 1</label>
        <div><span *ngIf="!isEdit">{{quote.address}}</span></div>
        <input type="text" *ngIf="isEdit" [(ngModel)]="quote.address" class="form-control" id="address" name="address" placeholder="1234 Calle Principal" >
        <div class="invalid-feedback">
          Por favor ingrese una direcci&oacute;n de envío.
        </div>
      </div>

      <div class="mb-3">
        <label for="address2">Direcci&oacute;n - linea 2 <span class="text-muted">(Opcional)</span></label>
        <input type="text" *ngIf="isEdit" class="form-control" id="address2" placeholder="Nro de departamento o interior">
      </div>

      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Pa&iacute;s</label>
          <div><span *ngIf="!isEdit">{{quote.country}}</span></div>
          <select *ngIf="isEdit" [(ngModel)]="quote.country" class="custom-select d-block w-100" id="country" name="country" >
            <option value="">Seleccione...</option>
            <option>Perú</option>
            <option>Brazil</option>
          </select>
          <div class="invalid-feedback">
            Por favor seleccione un país.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">Ciudad</label>
          <div><span *ngIf="!isEdit">{{quote.city}}</span></div>
          <select *ngIf="isEdit" [(ngModel)]="quote.city" class="custom-select d-block w-100" id="city" name="city" >
            <option value="">Seleccione...</option>
            <option>Lima</option>
            <option>Stewart</option>
          </select>
          <div class="invalid-feedback">
            Por favor seleccione una ciudad.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="province">Provincia</label>
          <div><span *ngIf="!isEdit">{{quote.state}}</span></div>
          <select *ngIf="isEdit" [(ngModel)]="quote.state" class="custom-select d-block w-100" id="state" name="state" >
            <option value="">Seleccione...</option>
            <option>Lima</option>
          </select>
          <div class="invalid-feedback">
            Por favor seleccione una provincia.
          </div>
        </div>
      </div>

      <hr class="mb-4">

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="same-address">
        <label class="custom-control-label" for="same-address">Use la misma direcci&oacute;n para envío y facturaci&oacute;n</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="save-info">
        <label class="custom-control-label" for="save-info">Use la misma informaci&oacute;n para una siguiente cotizaci&oacute;n</label>
      </div>
      <hr class="mb-4">

      <h4 class="mb-3">Items</h4>
      
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>C&oacute;digo</th>
              <th class="text-right">Cantidad</th>
              <th class="text-right">Precio Unitario</th>
              <th>Moneda</th>
              <th class="text-right">Total</th>
            </tr>
          </thead>
          <tbody *ngIf="quote">
            <ng-container *ngFor="let item of quote.items">
              <tr>
                  <td>{{item.line}}</td>
                  <td>
                    <div><span *ngIf="!isEdit">{{item.productNo}}</span></div>
                    <input type="text" *ngIf="isEdit" [(ngModel)]="item.productNo" class="form-control" id="productNo" name="productNo" >
                  </td>
                  <td class="text-right">
                    <div><span *ngIf="!isEdit">{{item.quantity}}</span></div>
                    <input type="text" *ngIf="isEdit" [(ngModel)]="item.quantity" class="form-control text-right" id="quantity" name="quantity" >
                  </td>
                  <td class="text-right">
                    <div><span *ngIf="!isEdit">{{item.unitPrice}}</span></div>
                    <input type="text" *ngIf="isEdit" [(ngModel)]="item.unitPrice" class="form-control text-right" id="unitPrice" name="unitPrice" >
                  </td>
                  <td>
                    <div><span *ngIf="!isEdit">{{item.currency}}</span></div>
                    <input type="text" *ngIf="isEdit" [(ngModel)]="item.currency" class="form-control" id="currency" name="currency" >
                  </td>
                  <td class="text-right">{{item.total}}</td>
                </tr>
            </ng-container>   
          </tbody>
        </table>
      </div>      
      
      <hr class="mb-4">
    </form>
  </div>
</div>