<div class="row">
  <div class="col-md-10 order-md-1">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Cotizaciones</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-primary" (click)="newQuote()">Nuevo</button>
          <button class="btn btn-sm btn-outline-secondary">Facturar</button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th></th>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha</th>
            <th class="text-right">Cantidad</th>
            <th class="text-right">Precio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let quote of quotes">
            <tr>
                <td><input type="checkbox" id="cbox"><label for="cbox"></label></td>
                <td><a routerLink="/quotes/view/{{quote.id}}">{{quote.id}}</a></td>
                <td>{{quote.firstName}}</td>
                <td>{{quote.lastName}}</td>
                <td>{{quote.dateCreated}}</td>
                <td class="text-right">{{quote.items.length}}</td>
                <td class="text-right">{{quote.items.length}}</td>
                <td><i class="fa fa-trash" style="color:blue" aria-hidden="true"></i></td>
              </tr>
          </ng-container>          
      </tbody>
      </table>
    </div>      
  </div>
</div>